<footer class="bg-light text-center text-white">
  <div class="text-right p-1" style="background-color: rgba(10, 10, 10, 0.9);">
    © 2023 Copyright: Bookish-Explorer
  </div>
  <!-- Copyright -->
</footer>