<footer class="bg-light text-center text-white">
    <style>
      .bg-light {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(181, 177, 177);
        text-align: right;
      }
    </style>
    <!-- Copyright -->
    <div class="text-right p-2" style="background-color: rgba(10, 10, 10, 0.3);">
      © 2023 Copyright: Bookish-Explorer</div>
    <!-- Copyright -->
  </footer>