<div class="user-Home">
  <h1>Welcome, <%= user.username %> !</h1>
  <p>Here you can manage your books.</p>
  <a href="/create-book" class="btn btn-secondary">Create a Book</a>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Writing Mentorship</h4>
        <p class="card-text">Not sure if writing is for you? checkout our cool mentors who would guide you through all you need to start creating your own book!</p>
        <a href="#" class="btn btn-secondary">Get started</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Library </h4>
        <p class="card-text">An easy way to access books from an open library. This way you can chechout cool preview links that could help you in creating your own book </p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="card-columns">
  <div class="card card-quote">
    <img class="card-img-top" src="/images/user-Home7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Quotes about writing from the world`s greatest Authors </h5>
      <p class="card-text">"Read, read, read. Read everything -- trash, classics, good and bad, and see how they do it. Just like a carpenter who works as an apprentice and studies the master. Read! You'll absorb it. Then write. If it's good, you'll find out. If it's not, throw it out of the window."
      </p>
      <small class="text-muted">
        <cite title="Source Title"> --William Faulkner</cite>
      </small>
      <blockquote class="blockquote mb-0 card-body">
        <p>"You should write because you love the shape of stories and sentences and the creation of different words on a page. Writing comes from reading, and reading is the finest teacher of how to write."
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <cite title="Source Title">--Annie Proulx</cite>
          </small>
        </footer>
    </div>
  </div>
  </blockquote>


  <div class="card bg-dark text-dark text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>"The first draft is just you telling yourself the story." </p>
      <footer class="blockquote-footer">
        <small>
          <cite title="Source Title">- Terry Pratchett.</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">How do I start writing ?</h5>
      <p class="card-text"><small class="text-muted">Last updated 20 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="/images/user-Home1.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>How do I start writing?</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>
<%- include('../partials/footer.ejs') %>