<style>
  .text-nowrap
</style>
<nav class="navbar" style="background-color: #111213; padding: 0 10px;">
      <!---- <a class="navbar-brand" href="/">  --->
        <a class="navbar-brand" href="/">
          <img src="/images/navbar_logo.png" alt="Logo" width="40" height="34" class="d-inline-block align-text-top"></a>
        <!---- Bookish-Explorer --->
        <!----- <small class="text-body-secondary ms-2">Your journey starts now</small> --->
      <!---- </a>  --->
      <div>
        <a class="btn btn-text-nowrap text-white" href="/library">Library</a>
        <a class="btn btn-text-nowrap text-white" href="/signup">Sign Up</a>
        <a class="btn btn-text-nowrap text-white" href="/login">Log In</a>
      </div>
  </nav>
  
  
  