<!-- views/bookSearch.ejs -->
<div class="book-search">
  <h1>Check out some other books in this Library</h1>
  <form action="/library" method="POST">
    <label class="form-class" for="books">
      <input type="text" name="bookTitle" class="book-search" placeholder="Enter a book title" />
    </label>
    <button type="submit">Search for Book</button>
  </form>
</div>