<!-- views/bookSearch.ejs -->
<div class="book-searchMain">
  <h1>Find book by Author or Title </h1>
  <form action="/library" method="POST" class="searchBox">

    <input type="text" name="bookTitle" class="book-search" placeholder="Type to search... " />

    <button type="submit">Search for Book</button>
  </form>
</div>