<%- include('./partials/navbar.ejs') %>

<h1>Welcome our great Bookish Explorere</h1>
<p>Here you can get to read your favourite books and also show the world your amazing books, short stories </p>
<!-- <a href="/auth/signup">Sign Up</a> -->
<p><a href="/login">Log In</a></p>
<p><a href="/signup">Sign up</a></p>