<h2>Welcome, <%= username %>!</h2>
<h2> About yourself</h2>
<p>Here you can manage your books.</p>
<a href="/create-book">Create a Book</a>
<button type="submit">Create a book</button>
<button type="submit">Read a book</button>
<Enable other Users to Read your book