<h2>Signup</h2>
<form action="/signup" method="POST" enctype="multipart/form-data">

  <label> Username
    <input type="text" name="username" placeholder="input username" required />
  </label>

  <label> Email
    <input type="email" name="email" placeholder="@email" required />
  </label>

  <label> Password
    <input type="password" name="password" required />
  </label>

  <label>Upload a profile picture:
    <input type="file" id="profileImage" name="profileImage" accept="image/png, image/jpg"/>

  <button type="submit">Create account</button>

  <%#!-- error message will be added here --%>
</form>