body {
  background: #f5f6fa;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper .sidebar {
  overflow-y: auto;
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  padding: 20px;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  /* margin: 10px 0 5px; */
  margin: 10px auto;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul.navBarSection {
  list-style: none;
  padding: 0;
}

.wrapper .sidebar ul li a,
.sidebarLibrary {
  display: block;
  padding: 13px 15px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

.wrapper .sidebar ul li a .icon,
.sidebarLibrary .icon {
  color: #dee4ec;
  max-width: 20px;
  display: inline-block;
}

.sidebarLibrary {
  padding-bottom: unset;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: calc(100% - 350px);
  margin-left: 350px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}

.wrapper .section .profileBody {
  margin: 30px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
}
body.active .wrapper .sidebar {
  left: -350px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}

.myBook,
.readOnlyBooks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #10558d;
}

.myBook:last-child,
.readOnlyBooks:last-child {
  border-bottom: unset;
}

.edit,
.lock-icon {
  font-size: 20px !important;
  padding: 0 !important;
  padding: 10px !important;
  border-bottom: unset !important;
}

.edit {
  margin-top: 6px;
}

.bookTitle {
  border-bottom: unset !important;
}
.book-searchMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: lightgray;
}
.book-searchMain,
.book-search {
  color: black;
  font-weight: 800;
}
.searchBox {
  width: 60%;
  display: flex;
}
.searchBox input {
  flex: 1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top: 5px solid darkgray;
  border-bottom: 5px solid darkgray;
  border-right: none;
  border-left: 5px solid darkgray;
  padding: 2rem;
  font-size: 16px;
  background-color: transparent;
}

.searchBox button {
  padding: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 1px transparent;
  color: white;
  background-color: #0d6efd;
  /* padding-left: 1rem; */
  width: fit-content;
}

/* book Search result */
.mainBookSearch {
  color: #ffffff;
  min-height: 100vh;
  background-color: black;
  padding: 10px;
}
.mainBookSearch h1 {
  margin-bottom: 2rem;
}
.book-search-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.book-item {
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  background-color: #242222;
  padding: 5px;
}

.book-search-result h2 {
  font-size: 1.5em;
}

.book-search-result img {
  max-width: 180px;
  max-height: 276px;
}
.book-search-result h4 {
  font-size: 0.9em;
}
.book-search-result p {
  font-size: 0.9em;
  padding-top: 10px;
}

.book-search-result a {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* previewbookStyle */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  min-height: 100vh;
  background-color: black;
  padding: 20px;
}

.cover-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cover-image {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}
.cover-image h2 {
  font-size: 2em;
  color: white;
}

.book-cover {
  border-radius: 10px;
}

.description {
  flex: 1;
  text-align: center;
}

.description-title {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

/* Style for the description text */
.description-text {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

/* style for link */

.link-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

/* Style for each link item */
.link-item {
  color: white;
  padding: 5px;
  border-radius: 5px; /* Rounded corners for the link items */
}

.link-item a {
  color: white;
  text-decoration: none;
}

.link-item a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

/* preview style */
.card-title {
  font-size: 3rem;
}

.card-text {
  font-size: 1.2rem;
}

.book-header {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 20px;
  /* position: relative; */
  text-decoration: none;
}

/* user-home */
.user-Home {
  margin-bottom: 50px;
}
.user-Home h1 {
  color: black;
  font-size: 4em;
}
.user-Home p {
  color: black;
  font-size: 1.2em;
}

.card-quote {
  margin-top: 20px;
}

.bookTitle span {
  font-size: 16px;
}

.item {
  margin-left: 5px;
}

.myLibrary {
  margin-bottom: 1rem;
  padding-left: 6px;
}

.navbar {
  position: relative; /* Add this line to make the z-index work */
  z-index: 1000; /* Set a higher z-index value */
  background-color: #111213;
}